@use "../../../../styles/variables" as *;
@use "../../../../styles/typography/typography" as t;

.voices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  @include t.heading3-brand;
  color: $darkest;
}

.description {
  @include t.body1;
  text-align: center;
}

@media (max-width: $breakpoint-tablet) {
  .title {
    @include t.heading4-brand;
  }

  .description {
    @include t.body1;
    text-align: left;
  }
}