@import "../../../../styles/variables.scss";

.voices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  @include heading3-brand;
  color: $darkest;
}

.description {
  @include body1;
  text-align: center;
}

@media (max-width: $breakpoint-tablet) {
  .title {
    @include heading4-brand;
  }

  .description {
    @include body1;
    text-align: left;
  }
}
