@import "@/styles/variables.scss";

.content {
  @include content;
}

.subtitle {
  @include body-description;
  font-weight: 700;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-bottom: 100px;

  p {
    @include body-description;
  }
}

@media (max-width: $breakpoint-tablet) {
  .description {
    margin-bottom: 40px;
  }
}