@mixin subheader1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

@mixin subheader2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@mixin subheader1-mobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@mixin subheader2-mobile {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
