$black: #000000;
$darkest: #222222;
$dark: #333333;
$mediumDark: #555555;
$mediumLight: #999999;
$light: #cccccc;
$lightest: #f2f2f2;
$white: #ffffff;
$border: #d9d9d9;

$uni: #803319;
$urucum: #cc3337;
$tucuma: #fa7532;
$cuzcuz: #f2a100;
$shanenawa: #60bfbf;
