@import "@/styles/variables.scss";

.content {
  @include content;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-bottom: 100px;

  p {
    @include body-description;
    max-width: 789px;
  }
}

.narrative {
  font-style: italic;
}

@media (max-width: $breakpoint-tablet) {
  .description {
    margin-bottom: 40px;

    p {
      max-width: unset;
    }
  }
}