@use '../../../../styles/colors' as *;
@use '../../../../styles/typography/subheader' as *;
@use '../../../../styles/breakpoints' as *;

.switcher {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid $lightest;
    border-radius: 100px;
    padding: 0;
    overflow: hidden;
}

.languageButton {
    @include subheader2-mobile;
    text-decoration: none;
    text-transform: uppercase;
    color: $lightest;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
        opacity: 0.8;
    }
    
    &.active {
        background-color: $lightest;
        color: $uni;
    }
    
    @media (min-width: $breakpoint-desktop) {
        @include subheader2;
    }
}
