@import "../../../../../styles/variables.scss";

.item{
  margin-bottom: 41px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 29px;
  border-bottom: 1px solid $border;
  cursor: pointer;
}

.title{
  @include heading3-brand;
  color: $uni;
}

.icon{
  filter: invert(21%) sepia(12%) saturate(7481%) hue-rotate(347deg) brightness(95%) contrast(90%);
}

.content{

}

@media (max-width: $breakpoint-tablet) {
  .header{
    padding-bottom: 22px;
  }

  .title{
    @include heading4-brand-mobile;
  }
}
